<%- include('../../layouts/header') %>
<%- include('../../layouts/menu') %>
    <section class="section">
        <div class="container">
        <div class="columns">
            <div class="column is-four-fifths">
            <h1 class="title size-4">Listas de Tarefas</h1>
            </div>
            <div class="column is-one-fifth">
            <a href="checklist/new" class="button is-success is-small">Nova Lista</a>
            </div>
        </div>
        <%-include('../../layouts/checklistElements') %>
        </div>
    </section>
<%- include('../../layouts/footer')%>